@charset "UTF-8";

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraLight.woff") format("woff"), url("../fonts/Montserrat-ExtraLight.woff2") format("woff2");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-ExtraBold.woff") format("woff"), url("../fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Thin.woff") format("woff"), url("../fonts/Roboto-Thin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Light.woff") format("woff"), url("../fonts/Roboto-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "icons";
  font-display: swap;
  src: url("../fonts/icons.woff") format("woff"), url("../fonts/icons.woff2#icons") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="_icon-"]:before,
[class*=" _icon-"]:before {
  display: block;
}

._icon-behance:before {
  content: "\e900";
}

._icon-download:before {
  content: "\e901";
}

._icon-drible:before {
  content: "\e902";
}

._icon-drop-down:before {
  content: "\e903";
}

._icon-fb:before {
  content: "\e904";
}

._icon-insta:before {
  content: "\e905";
}

._icon-logo:before {
  content: "\e906";
}

._icon-mail:before {
  content: "\e907";
}

._icon-messenger:before {
  content: "\e908";
}

._icon-telegram:before {
  content: "\e909";
}

._icon-viber:before {
  content: "\e90a";
}

._icon-vk:before {
  content: "\e90b";
}

._icon-vk-stroke:before {
  content: "\e90c";
}

._icon-whatsapp:before {
  content: "\e90d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

aside,
nav,
footer,
header,
section {
  display: block;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  line-height: 1;
  font-family: "Montserrat";
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: "Montserrat";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  color: #333;
  background: #fbfbfb;
  font-size: 14px;
}

body._lock {
  overflow: hidden;
}

.wrapper {
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

._container {
  max-width: 1110px;
  margin: 0 auto;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  padding: 0px 0px;
}

.btn._fw {
  width: 100%;
}

.select {
  position: relative;
}

.select__item {
  position: relative;
  border: none;
  outline: none;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.select__title {
  color: #000;
  border: 1px solid #d9d9d9;
  background-color: #fff;
  cursor: pointer;
  border-radius: 4px;
}

.select__value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  height: 30px;
  min-width: 64px;
  padding: 0 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.select__value span {
  font-weight: bold;
  font-size: 14px;
  line-height: 12px;
  color: #343a40;
  height: 1em;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.select__value:before {
  content: "";
  margin: 0px 0px 0px 5px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: 5px;
  height: 9px;
  background: url("../img/arrow-down.svg") center/100% no-repeat;
}

.select__input {
  width: 100%;
  background-color: transparent;
  height: 100%;
}

.select__options {
  color: #000;
  display: none;
  position: absolute;
  top: 29px;
  border-radius: 0 0 4px 4px;
  min-width: 100%;
  left: 0;
  background-color: #fff;
  border-top: 0;
  border: 1px solid #d9d9d9;
  border-top: 0;
  font-size: 14px;
  padding: 10px 0px 5px 0px;
}

.select__option {
  cursor: pointer;
  padding: 5px 15px;
  margin: 0px 0px 0px 0px;
}

.select._active {
  z-index: 5;
}

.select._active .select__value:before {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}

.select._active .select__options {
  display: block;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.input {
  border-radius: 0 !important;
  width: 100%;
  display: block;
  padding: 0px 20px;
}

textarea.input {
  resize: none;
  padding: 0px 0px;
}

.checkbox {
  position: relative;
}

.checkbox__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.checkbox__input:checked + .checkbox__text:before {
  background: #fff url("../img/icons/check.svg") center no-repeat;
}

.checkbox__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
  cursor: pointer;
}

.checkbox__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.checkbox a {
  color: #fff;
  text-decoration: underline;
}

.checkbox._error .checkbox__text:before {
  border: 1px solid #ee1212;
}

.options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.options__item {
  position: relative;
  cursor: pointer;
}

.options__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  left: 0;
  top: 0;
  visibility: hidden;
}

.options__input:checked + .options__text:after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.options__text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  font-size: 16px;
  color: #ffffff;
  letter-spacing: -0.3px;
  line-height: calc(20 / 16);
}

.options__text:before {
  content: "";
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin: 0px 14px 0px 0px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  left: 0;
  top: 0;
  border-radius: 50%;
  width: 20px;
  height: 18px;
  background: #fff;
  border: 1px solid #a7a9ac;
}

.options__text:after {
  content: "";
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #77243a;
  position: absolute;
  left: 5px;
  top: 4px;
}

.rating-block {
  display: table;
  font-size: 0;
}

.rating {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.rating.edit .star {
  cursor: pointer;
}

.rating .star {
  width: 17px;
  height: 14px;
  display: inline-block;
  position: relative;
  z-index: 3;
}

.rating__line {
  position: absolute;
  width: 85px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating.svg") 0 0 no-repeat;
  z-index: 1;
  background-size: 85px 100%;
}

.rating__activeline {
  position: absolute;
  width: 0px;
  height: 14px;
  top: 0;
  left: 0;
  background: url("../img/icons/bg_rating_active.svg") 0 0 no-repeat;
  z-index: 2;
  background-size: 85px 100%;
}

.rating__value {
  display: inline-block;
  color: #1b3139;
  font-size: 14px;
  line-height: 13px;
  vertical-align: middle;
}

.quantity {
  width: 88px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: 1px solid rgba(166, 166, 166, 0.45);
}

.quantity__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 30px;
          flex: 0 0 30px;
  position: relative;
  cursor: pointer;
}

.quantity__button::before,
.quantity__button::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 0px 0px -4.5px;
  background-color: #a6a6a6;
  width: 9px;
  height: 1px;
}

.quantity__button_plus::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.quantity__input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.quantity__input input {
  height: 100%;
  color: #a6a6a6;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.row:after {
  display: block;
  content: "";
  clear: both;
}

.rub:after {
  content: "₽";
}

ol.counter {
  list-style-type: none;
  counter-reset: item;
}

ol.counter li {
  position: relative;
  padding: 0px 0px 0px 45px;
}

ol.counter li:before {
  counter-increment: item;
  content: counter(item);
  position: absolute;
  left: 0;
  top: 0;
  color: #818181;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  line-height: 26px;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  border: 1px solid #4274bb;
}

.ellipsis {
  display: block;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.es {
  overflow: hidden;
  white-space: nowrap;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
}

.table {
  display: table;
  font-size: 0;
  width: 100%;
}

.trow {
  display: table-row;
}

.cell {
  display: table-cell;
}

.cell.full {
  width: 100%;
}

._ibg {
  position: relative;
}

._ibg img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

body.ie ._ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

body.ie ._ibg img {
  width: 0;
  height: 0;
  opacity: 0;
  visibility: hidden;
}

.video {
  position: relative;
  overflow: hidden;
  height: 0;
  padding-bottom: 56.25%;
}

.video video,
.video iframe,
.video object,
.video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videobg video,
.videobg iframe,
.videobg object,
.videobg embed {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background-size: cover;
}

.moretext {
  overflow: hidden;
}

.moretext__more {
  cursor: pointer;
}

.moretext__more span {
  font-style: normal;
}

.moretext__more span:first-child {
  display: block;
}

.moretext__more span:last-child {
  display: none;
}

.moretext__more.active span {
  font-style: normal;
}

.moretext__more.active span:first-child {
  display: none;
}

.moretext__more.active span:last-child {
  display: block;
}

#map {
  background: url("../img/icons/loading.gif") center/50px no-repeat;
}

._swiper {
  overflow: hidden;
}

._swiper > div {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

._swiper.swiper-container-autoheight > div {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-container-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-container-android .swiper-slide,
.swiper-container-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.slick-slider {
  position: relative;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-slider .slick-list {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.slick-slider .slick-track {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slick-slider .slick-slide {
  position: relative;
}

.tab__item {
  display: none;
}

.tab__item.active {
  display: block;
}

._tabs-block {
  display: none;
}

._tabs-block._active {
  display: block;
}

.mirror {
  -webkit-transform: scale(-1, 1);
      -ms-transform: scale(-1, 1);
          transform: scale(-1, 1);
}

.nicescroll-rails {
  z-index: 1000 !important;
}

.gm-style-iw-t {
  opacity: 0;
}

.baloon {
  opacity: 1;
  right: -7px !important;
  bottom: 80px !important;
}

.baloon button {
  display: none !important;
}

.baloon:after {
  display: none !important;
}

.baloon-style {
  display: none;
}

.baloon-content.gm-style-iw {
  opacity: 1;
  border-radius: 0px !important;
  max-width: 300px !important;
  padding: 0 !important;
  left: 0 !important;
  width: 100% !important;
  overflow: visible !important;
}

.baloon-content.gm-style-iw > .gm-style-iw-d {
  overflow: hidden !important;
  max-width: none !important;
}

.baloon-content.gm-style-iw:after {
  display: none !important;
}

.baloon-close {
  top: 18px !important;
}

._custom-scroll {
  position: fixed;
  right: 0;
  top: 0;
  width: 3px;
  height: 100%;
  z-index: 1000;
}

._custom-scroll__line {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 3px 0 0 3px;
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
}

.popup {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup.show {
  visibility: visible;
  overflow: auto;
}

.popup.show::before {
  opacity: 1;
}

.popup.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup._active {
  overflow: auto;
  visibility: visible;
}

.popup._active::before {
  opacity: 1;
}

.popup._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #fff;
  padding: 30px;
  width: 100%;
  max-width: 600px;
  -webkit-box-shadow: 0px 0px 30px rgba(58, 41, 71, 0.14);
          box-shadow: 0px 0px 30px rgba(58, 41, 71, 0.14);
  border-radius: 3px;
}

.popup__close {
  width: 15px;
  height: 15px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 30;
  background: url("../img/icons/close2.svg") 0 0 no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__close:hover {
  opacity: 0.8;
  -webkit-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}

.popup__box {
  text-align: center;
}

.popup__img {
  margin: 0px 0px 20px 0px;
}

.popup__text {
  font-weight: 600;
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  color: #333333;
  margin: 0px 0px 25px 0px;
}

.popup__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup__input {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 340px;
          flex: 0 1 340px;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 26px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  font-size: 17px;
  line-height: 26px;
  height: 50px;
  padding: 0 26px;
  color: #888888;
  margin: 0px 20px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup__input:focus {
  -webkit-box-shadow: 0px 0px 8px 2px rgba(113, 0, 202, 0.3);
          box-shadow: 0px 0px 8px 2px rgba(113, 0, 202, 0.3);
}

.popup__button {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 180px;
          flex: 0 0 180px;
  min-height: 49px;
  padding: 0 50px;
}

.popup_video {
  -webkit-overflow-scrolling: touch;
  z-index: 100;
  padding: 30px 10px;
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
}

.popup_video::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
}

.popup_video.show {
  visibility: visible;
  overflow: auto;
}

.popup_video.show::before {
  opacity: 1;
}

.popup_video.show .popup__body {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup_video._active {
  overflow: auto;
  visibility: visible;
}

.popup_video._active::before {
  opacity: 1;
}

.popup_video._active .popup__body {
  -webkit-transition: all 0.3s ease 0.2s;
  -o-transition: all 0.3s ease 0.2s;
  transition: all 0.3s ease 0.2s;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup_video__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup_video__body {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: #000;
  padding: 0;
  width: 100%;
  max-width: 800px;
  min-height: 600px;
}

.popup_video__box {
  -webkit-transition: all 0.3s cubic-bezier(0.1, 0.67, 1, 0.62) 0s;
  -o-transition: all 0.3s cubic-bezier(0.1, 0.67, 1, 0.62) 0s;
  transition: all 0.3s cubic-bezier(0.1, 0.67, 1, 0.62) 0s;
}

.popup_video__close {
  position: absolute;
  cursor: pointer;
  top: -50px;
  right: -50px;
  width: 20px;
  height: 20px;
  z-index: 30;
  background: url("../img/icons/close.svg") 0 0/90% no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.popup_video__video {
  background: #000;
}

.popup_video__video iframe {
  width: 800px;
  height: 600px;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  -webkit-box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.08);
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 68px;
}

.header__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-right: 1px solid #9f56d9;
  padding: 0px 10px 0px 0px;
  margin: 0px 9px 0px 0px;
}

.header__home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  padding: 0px 0px 0px 26px;
}

.header__home:hover {
  color: #7100ca;
}

._no-webp .header__home::before{
  background: url(../img/logo.png) 0px 0px no-repeat; }

.header__home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 28px;
  height: 23px;
}

.header__title {
  font-weight: 800;
  font-size: 21px;
  padding: 0;
  margin: 0;
}

.header__about {
  font-weight: 300;
  font-size: 12px;
  padding: 0;
  margin: 0;
}

.header__text {
  font-weight: 200;
  font-size: 10px;
  line-height: 12px;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 10;
}

.header__menu li {
  margin: 0px 59px 0px 0px;
}

.header__menu li:last-child {
  margin: 0;
}

.header__menu li {
  margin: 0px 20px 0px 0px;
}

.header__menu._active {
  left: 0;
}

.header__link {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #343a40;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header__link:hover {
  color: #7100ca;
}

.header__form {
  z-index: 2;
}

.icon-menu {
  display: none;
}

.offer__content {
  margin-top: 130px;
}

.offer__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.offer__info {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53%;
          flex: 0 1 53%;
}

.offer__title {
  margin-top: 72px;
  margin-bottom: 20px;
  font-weight: 800;
  font-size: calc(24px + 20 * ((100vw - 320px) / 1600));
  line-height: 122.72727%;
  letter-spacing: 0.3px;
}

.offer__text {
  font-weight: normal;
  font-size: calc(14px + 3 * ((100vw - 320px) / 1600));
  line-height: 152.94118%;
  margin: 0px 0px 40px 0px;
}

.offer__btn {
  margin: 0px 0px 20px 0px;
}

.offer__image {
  position: relative;
  cursor: pointer;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offer__image img {
  width: 100%;
}

.offer__image::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.5;
  z-index: 2;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.offer__image:hover::before {
  opacity: 0;
}

.offer__image:hover .offer__round_first::before,
.offer__image:hover .offer__round_first::after {
  -webkit-animation: none;
          animation: none;
}

.offer__image:hover .offer__round_first {
  opacity: 1;
  background: url(../img/play.svg) 59% center no-repeat;
  background-color: #7100ca;
}

.offer__round_first {
  position: absolute;
  top: 45%;
  right: 41%;
  width: 60px;
  height: 60px;
  z-index: 100;
  border-radius: 50%;
  cursor: pointer;
}

.offer__round_first span {
  background: rgba(113, 0, 202, 0.8) url(../img/play.svg) 59% center no-repeat;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  z-index: 200;
}

.offer__round_first::before,
.offer__round_first::after {
  content: "";
  background: #7100ca;
  border-radius: 50%;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 3;
}

.offer__round_first::before {
  opacity: 0.4;
  -webkit-animation: playCircleOne 3s infinite linear;
          animation: playCircleOne 3s infinite linear;
}

.offer__round_first::after {
  opacity: 0.6;
  -webkit-animation: playCircleTwo 3s infinite linear;
          animation: playCircleTwo 3s infinite linear;
}

@-webkit-keyframes playCircleOne {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@keyframes playCircleOne {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(2);
            transform: scale(2);
    opacity: 0;
  }
}

@-webkit-keyframes playCircleTwo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

@keyframes playCircleTwo {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0;
  }
}

.services__title {
  margin-bottom: 54px;
}

.services__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.services__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 31%;
          flex: 0 1 31%;
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
  border-radius: 8px;
  padding: 32px 20px 50px 25px;
  color: #333;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
}

.services__item:hover .services__subtitle {
  color: #7100ca;
}

.services__item img {
  position: absolute;
}

.services__item::after {
  content: "";
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 25px;
  height: 16px;
  background: url(../img/arrow-right.svg) no-repeat;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._no-webp .services__item:hover::after{
  background: url(../img/arrow-right-hv.png) no-repeat; }

.services__img_one {
  top: -6%;
  right: 2%;
}

.services__img_two {
  top: -17%;
  right: 1%;
}

.services__img_three {
  top: -24%;
  right: 1%;
}

.services__subtitle {
  font-weight: 600;
  font-size: calc(19px + 7 * ((100vw - 320px) / 1600));
  line-height: 123.07692%;
  margin-bottom: 21px;
}

.services__text {
  font-weight: 400;
  line-height: 24px;
  font-size: 17px;
}

.works {
  padding-top: 70px;
}

.works__container {
  position: relative;
}

.works__container::before {
  content: "";
  height: 100%;
  width: 100vw;
  left: -15px;
  -webkit-transform: translate(-100%, 0px);
      -ms-transform: translate(-100%, 0px);
          transform: translate(-100%, 0px);
  position: absolute;
  background: #fbfbfb;
  z-index: 3;
}

.works__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.works__title {
  margin-bottom: 50px;
}

.works__link {
  font-weight: 600;
  font-size: calc(15px + 4 * ((100vw - 320px) / 1600));
  line-height: 121.05263%;
  color: #212529;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.works__link::after {
  content: "";
  width: 117px;
  height: 10px;
  display: block;
  margin: 8px 0px 0px 0px;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(113, 0, 202, 0.1)), to(rgba(113, 0, 202, 0.1))), rgba(113, 0, 202, 0.1);
  background: -o-linear-gradient(bottom, rgba(113, 0, 202, 0.1), rgba(113, 0, 202, 0.1)), rgba(113, 0, 202, 0.1);
  background: linear-gradient(0deg, rgba(113, 0, 202, 0.1), rgba(113, 0, 202, 0.1)), rgba(113, 0, 202, 0.1);
}

.works__link:hover {
  color: #7100ca;
}

.works__sliders {
  margin: 0px 0px 50px 0px;
}

.works__slider {
  overflow: visible;
  margin: 0px 0px 20px 0px;
}

.works__dotts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0px auto;
  overflow: hidden;
  min-height: 25px;
  cursor: pointer;
}

.works__dotts .swiper-pagination-bullet {
  position: relative;
  margin: 0 10px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background: rgba(0, 0, 0, 0.2);
  -webkit-box-flex: 0;
      -ms-flex: 0 0 11px;
          flex: 0 0 11px;
  height: 11px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.works__dotts .swiper-pagination-bullet::after {
  content: "";
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left top, left bottom, from(#7100ca), to(#8f00ff));
  background: -o-linear-gradient(top, #7100ca 0%, #8f00ff 100%);
  background: linear-gradient(180deg, #7100ca 0%, #8f00ff 100%);
}

.works__dotts .swiper-pagination-bullet-active {
  -webkit-transform: scale(2.2);
      -ms-transform: scale(2.2);
          transform: scale(2.2);
}

.works__dotts .swiper-pagination-bullet-active-prev,
.works__dotts .swiper-pagination-bullet-active-next {
  -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5);
          transform: scale(1.5);
}

.works__dotts .swiper-pagination-bullet-active-next-next,
.works__dotts .swiper-pagination-bullet-active-prev-prev {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.slide {
  position: relative;
}

.slide__image {
  padding: 0 0 96% 0;
  border-radius: 8px;
  overflow: hidden;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.14);
}

.slide__image::after {
  content: "";
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.15)), to(#ffffff));
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.15) 0%, #ffffff 100%);
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.15) 0%, #ffffff 100%);
}

.slide__body {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform: translate(30px, 0);
      -ms-transform: translate(30px, 0);
          transform: translate(30px, 0);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px 20px 30px 0px;
}

.slide__title {
  font-weight: 700;
  font-size: 31px;
  line-height: 122.58065%;
  color: #212529;
  margin: 0px 0px 32px 0px;
  position: relative;
}

.slide__title::after {
  content: "";
  width: 70px;
  height: 10px;
  background: #7100ca;
  display: block;
  margin: 10px 0 0;
}

.slide__text {
  font-weight: 400;
  font-size: 17px;
  line-height: 152.94118%;
  color: #333333;
}

.seo__content {
  margin-top: 100px;
  margin-bottom: 100px;
}

.seo__title {
  margin-bottom: 33px;
}

.seo__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 20px;
}

.footer {
  background: #f5f5f5;
  -webkit-box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0px -1px 20px rgba(0, 0, 0, 0.1);
}

.footer__content {
  padding-top: 35px;
  padding-left: 15px;
}

.footer__title {
  font-weight: 500;
  font-size: calc(20px + 11 * ((100vw - 320px) / 1600));
  line-height: 122.58065%;
  color: #000000;
  margin: 0px 0px 23px 0px;
}

.footer__social {
  margin-bottom: 56px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__icon {
  width: 56px;
  height: 52px;
  background: #dee2e6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px 26px 0px 0px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__icon:last-child {
  margin: 0;
}

.footer__icon:hover {
  background: #ede2f6;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
          box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
}

.footer__icon::before {
  font-size: 21px;
  color: #868e96;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__icon:hover::before {
  color: #7100ca;
}

.footer__nav {
  border-top: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
  padding-top: 50px;
}

.footer__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 45px;
}

.footer__item {
  margin-right: 91px;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 24%;
          flex: 0 1 24%;
}

.footer__item:last-child {
  margin: 0;
}

.footer__subtitle {
  font-weight: 600;
  font-size: 19px;
  line-height: 16px;
  color: #5a5a5a;
  margin: 0px 0px 20px 0px;
  min-width: 153px;
}

.footer__list li {
  margin: 0px 0px 15px 0px;
}

.footer__link {
  font-size: 17px;
  line-height: 123.52941%;
  color: #666c72;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.footer__link:hover {
  color: #7100ca;
}

.footer__language {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px 0px 14px 0px;
}

.footer__select {
  font-weight: 500;
  font-size: 14px;
  line-height: 121.42857%;
  color: #343a40;
  margin: 0px 15px 0px 0px;
  padding: 0px 0px 0px 0px;
}

.footer__select._active {
  font-weight: bold;
  border-bottom: 3px solid #7100ca;
}

.footer__copyright {
  font-size: 12px;
  line-height: 158.33333%;
  color: #666c72;
  min-height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__link::before {
  position: relative;
  top: 2px;
  display: inline-block;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin: 0px 12px 0px 0px;
}

.social__link:hover::before {
  color: #7100ca;
}

.page {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

._title {
  font-weight: 700;
  font-size: calc(20px + 15 * ((100vw - 320px) / 1600));
  line-height: 122.85714%;
  color: #212529;
}

._button {
  background: #e8ddf1;
  color: #7100ca;
  min-height: 40px;
  padding: 0px 28px;
  border-radius: 4px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: normal;
  font-size: 14px;
  line-height: 28px;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

._button:hover {
  background: #7100ca;
  color: #fff;
}

._scroll {
  background: #fff;
  -webkit-box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 15px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@media (min-width: 991.98px) {
  .quantity__button:hover::before,
  .quantity__button:hover::after {
    background-color: rgba(0, 0, 0, 0.5);
  }

  .popup_video__box:hover {
    background: rgba(255, 255, 255, 0.5);
  }

  .slide:hover .slide__image {
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  .slide:hover .slide__image::after {
    opacity: 1;
  }

  .slide:hover .slide__body {
    -webkit-transform: translate(-15px, 0);
        -ms-transform: translate(-15px, 0);
            transform: translate(-15px, 0);
    opacity: 1;
  }
}

@media (min-width: 992px) {
  .select__option:hover {
    background: #d9d9d9;
  }

  .checkbox a:hover {
    text-decoration: none;
  }
}

@media (max-width: 1190px) {
  .header__row {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__logo {
    margin-right: 20px;
  }

  .header__nav {
    margin-right: 20px;
  }

  .header__menu li {
    margin: 0px 20px 0px 0px;
  }

  .header__menu li:last-child {
    margin: 0;
  }

  .header__form {
    margin-right: 20px;
  }

  .header__btn {
    margin-right: 20px;
  }
}

@media (max-width: 1190px) and (max-width: 1110px) {
  .header__logo {
    margin-right: calc(15px + 5 * ((100vw - 320px) / 790));
  }

  .header__nav {
    margin-right: calc(15px + 5 * ((100vw - 320px) / 790));
  }

  .header__form {
    margin-right: calc(15px + 5 * ((100vw - 320px) / 790));
  }

  .header__btn {
    margin-right: calc(15px + 5 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1155px) {
  .footer__item {
    margin-right: 20px;
  }
}

@media (max-width: 1122px) {
  ._container {
    max-width: 970px;
  }
}

@media (max-width: 1110px) {
  .offer__content {
    margin-top: calc(90px + 40 * ((100vw - 320px) / 790));
  }

  .offer__title {
    margin-top: calc(30px + 42 * ((100vw - 320px) / 790));
  }

  .offer__title {
    margin-bottom: calc(15px + 5 * ((100vw - 320px) / 790));
  }

  .services__title {
    margin-bottom: calc(20px + 34 * ((100vw - 320px) / 790));
  }

  .services__subtitle {
    margin-bottom: calc(15px + 6 * ((100vw - 320px) / 790));
  }

  .works {
    padding-top: calc(20px + 50 * ((100vw - 320px) / 790));
  }

  .works__title {
    margin-bottom: calc(20px + 30 * ((100vw - 320px) / 790));
  }

  .seo__content {
    margin-top: calc(30px + 70 * ((100vw - 320px) / 790));
  }

  .seo__content {
    margin-bottom: calc(30px + 70 * ((100vw - 320px) / 790));
  }

  .seo__title {
    margin-bottom: calc(18px + 15 * ((100vw - 320px) / 790));
  }

  .seo__text {
    margin-bottom: calc(16px + 4 * ((100vw - 320px) / 790));
  }

  .footer__content {
    padding-top: calc(20px + 15 * ((100vw - 320px) / 790));
  }

  .footer__content {
    padding-left: calc(15px + 0 * ((100vw - 320px) / 790));
  }

  .footer__social {
    margin-bottom: calc(20px + 36 * ((100vw - 320px) / 790));
  }

  .footer__nav {
    padding-top: calc(20px + 30 * ((100vw - 320px) / 790));
  }

  .footer__column {
    padding-bottom: calc(20px + 25 * ((100vw - 320px) / 790));
  }
}

@media (max-width: 1060px) {
  .offer__body {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .offer__info {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 70%;
            flex: 0 0 70%;
  }

  .offer__image {
    max-width: 650px;
  }

  .offer__round_first {
    top: 41%;
    right: 37%;
  }

  .services__row {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 45%;
            flex: 0 1 45%;
    margin: 0px 20px 40px 0px;
  }
}

@media (max-width: 991.98px) {
  ._container {
    max-width: 750px;
  }

  .select__title {
    font-size: 18px;
  }

  .select__options {
    font-size: 18px;
  }

  .header__menu {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #efcff1;
    padding: 80px 30px 0px;
    -webkit-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
    display: block;
  }

  .header__menu li {
    margin: 0px 0px 30px 0px;
  }

  .header__link {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
  }

  .icon-menu {
    display: block;
    position: absolute;
    top: 24px;
    right: 10px;
    width: 30px;
    height: 18px;
    cursor: pointer;
    z-index: 11;
  }

  .icon-menu span {
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    top: calc(50% - 1px);
    left: 0px;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
  }

  .icon-menu span:first-child {
    top: 0px;
  }

  .icon-menu span:last-child {
    top: auto;
    bottom: 0px;
  }

  .icon-menu._active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }

  .icon-menu._active span:first-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: calc(50% - 1px);
  }

  .icon-menu._active span:last-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: calc(50% - 1px);
  }
}

@media (max-width: 900px) {
  .services__img_one {
    top: -14%;
  }
}

@media (max-width: 790px) {
  .services__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 100%;
            flex: 0 1 100%;
    margin: 0px 0px 40px 0px;
  }
}

@media (max-width: 767.98px) {
  ._container {
    max-width: none;
    padding: 0 10px;
  }
}

@media (max-width: 760px) {
  .footer__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 47%;
            flex: 0 1 47%;
    margin-bottom: 25px;
    margin-right: 10px;
  }

  .footer__subtitle {
    font-size: 16px;
  }

  .footer__link {
    font-size: 14px;
  }
}

@media (max-width: 650px) {
  .works__link::after {
    display: none;
  }
}

@media (max-width: 590px) {
  .header__form {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__box {
    border-right: none;
  }

  .header__text {
    display: none;
  }
}

@media (max-width: 460px) {
  .header__row {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }

  .header__box {
    margin: 0;
    padding: 0;
  }
}

@media (max-width: 450px) {
  .footer__icon {
    margin-right: 10px;
  }

  .footer__item {
    margin-right: 0px;
  }
}

@media (max-width: 390px) {
  .header__btn {
    display: none;
  }
}

@media (max-width: 386px) {
  .footer__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
  }
}

._webp .header__home::before{ background: url(../img/logo.webp) 0px 0px no-repeat; }

._webp .services__item:hover::after{ background: url(../img/arrow-right-hv.webp) no-repeat; }